option_settings:
  # Backend Encryption Policy
  aws:elb:policies:backendencryption:
    PublicKeyPolicyNames: backendkey
    InstancePorts:  443
  # Public Key Policy
  aws:elb:policies:backendkey:
    PublicKey: |
      -----BEGIN CERTIFICATE-----
        MIIFXTCCBEWgAwIBAgIQA1Xhf81i03xA2n6nuGdc+DANBgkqhkiG9w0BAQsFADBG
        MQswCQYDVQQGEwJVUzEPMA0GA1UEChMGQW1hem9uMRUwEwYDVQQLEwxTZXJ2ZXIg
        Q0EgMUIxDzANBgNVBAMTBkFtYXpvbjAeFw0yMTAzMDMwMDAwMDBaFw0yMjA0MDEy
        MzU5NTlaMBwxGjAYBgNVBAMTEXd3dy5hcmFidWlsZHMuY29tMIIBIjANBgkqhkiG
        9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtMdsq2T2soQSKPKp8B63aoC8RYk6uv9xh89M
        XQAKhWR80+gdnifkdxQuO0zEvLECbMN+qKQXVXllL+AvCWUCEmW9fft7sDeljxd5
        xOiMAChgwStM1TOyqoYo2u1uGw3pWcCBKgajQP3/UpEKhQJJ2eUzUimcSgXsFeEG
        qCs0N5am15H0qBe+HSoZO1UeQrhEFLRXMBN1/IcE+T7sW2FOdbsGDgQH3/+rz/u1
        Kfso4XTaoQYyX5nRwMCgFv3YNU8NiiXoFgGznnv7GEQ9SXjHvLJ7mfjOgJfAPAWe
        YruB4w+JZPZDU8ss2nJWfwVcTTrEntLzZXXDTkIFCL3k/sYxswIDAQABo4ICbzCC
        AmswHwYDVR0jBBgwFoAUWaRmBlKge5WSPKOUByeWdFv5PdAwHQYDVR0OBBYEFOdi
        coe6yNp1CgzPafZJWcRLlDS9MBwGA1UdEQQVMBOCEXd3dy5hcmFidWlsZHMuY29t
        MA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
        OwYDVR0fBDQwMjAwoC6gLIYqaHR0cDovL2NybC5zY2ExYi5hbWF6b250cnVzdC5j
        b20vc2NhMWIuY3JsMBMGA1UdIAQMMAowCAYGZ4EMAQIBMHUGCCsGAQUFBwEBBGkw
        ZzAtBggrBgEFBQcwAYYhaHR0cDovL29jc3Auc2NhMWIuYW1hem9udHJ1c3QuY29t
        MDYGCCsGAQUFBzAChipodHRwOi8vY3J0LnNjYTFiLmFtYXpvbnRydXN0LmNvbS9z
        Y2ExYi5jcnQwDAYDVR0TAQH/BAIwADCCAQMGCisGAQQB1nkCBAIEgfQEgfEA7wB2
        ACl5vvCeOTkh8FZzn2Old+W+V32cYAr4+U1dJlwlXceEAAABd/oGPyQAAAQDAEcw
        RQIgSCNlK4k9/ajuyZYgJ83UJjNdDTkmrh7sM49kKBHDd+UCIQDOA2sestL1BGaZ
        9RoysW8X8QjmNrVzxD7OAsNVY1HV4wB1ACJFRQdZVSRWlj+hL/H3bYbgIyZjrcBL
        f13Gg1xu4g8CAAABd/oGPukAAAQDAEYwRAIgafPezpXpNCzzcunN6PqEzBlQTJk/
        gU8H8bsqx++5mxICICEEtPC1Sl31RlxYlf0WQBRzAMmNOZq6UP3zN3WU8wXoMA0G
        CSqGSIb3DQEBCwUAA4IBAQCLRAtcbkoPxsIlAZtX3Drahib5BJbImohw2e1hfTrE
        OocuPmMtIQBmqa0Hz4mO2wRvBJqepOp51jBiFCS2+2NvJDCcFQIdsUTF+c2gEY32
        n4HMzM54GV34oeiVaWKKnWq3ouuB0ut8YeQqLtY+diMSPv9zBGpGsOy3qZCpU8Om
        6gG5CwJR/n8vkBTbqjLpidM5mgoSLD08x2CbRbqyXXJAHh9C2sNz59/SwIPd1gjh
        yOm54+tRha1RuF6WMmY48ebwY3yH6ZR9v+FLFCxMQJifxmTQtFRhNBRFB+gDhswx
        LMspKIkfds4wsOhy7GySpV73FIlHXwqVA8r93hnZ/B+D
      -----END CERTIFICATE-----