option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-1:465992767901:certificate/1b41d047-ab40-4700-9160-9a714a6a6050
